.navbar {
    padding: 20px 0;
}

.navbar>p, .navbar>h1, .file-name>p {
    margin-top: 0;
    margin-bottom: 0;
}

.php-area>.form-control {
    margin-bottom: 15px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.file-name {
    display: flex;
    float: left;
    margin-top: -12px;
    top: 50%;
    position: absolute;
}

.edit-button {
    float: right;
}

.button-wrapper {
    margin-bottom: 20px;
}